In [1]:
%load_ext autoreload
%autoreload 2 
import pandas as pd
import numpy as np
import requests 
import matplotlib.pyplot as plt
import json

In [2]:
from data_compilation import call_api_one_symbol
from data_compilation import call_all_symbols
from data_cleaning import full_clean

In [3]:
symbol_list = ['SLV', 'SIL', 'GLD', 'GDX', 'DJI']

In [4]:
df = call_all_symbols(symbol_list)

The response code for SLV is 200
The response code for SIL is 200
The response code for GLD is 200
The response code for GDX is 200
The response code for DJI is 200

In [5]:
df.shape

(17854, 6)

In [11]:
df_etfs = full_clean()
df_etfs.head()

        date   open   high    low    close      volume symbol
0 2019-10-07  16.38  16.46  16.28  16.3049   6997796.0    SLV
1 2019-10-04  16.30  16.46  16.25  16.4100  17178596.0    SLV
2 2019-10-03  16.38  16.65  16.37  16.4300  24412700.0    SLV
3 2019-10-02  16.33  16.54  16.27  16.4300  21300800.0    SLV
4 2019-10-01  15.96  16.21  15.91  16.1500  23278100.0    SLV

In [12]:
df_etfs.to_csv('data/clean_data.csv')