In [1]:
%load_ext autoreload
%autoreload 2 
import pandas as pd
import numpy as np
import requests 
import matplotlib.pyplot as plt
import json

In [2]:
from data_compilation import call_api_one_symbol
from data_compilation import call_all_symbols
from data_cleaning import full_clean

In [3]:
symbol_list = ['SLV', 'SIL', 'GLD', 'GDX', 'DJI']

In [4]:
df = call_all_symbols(symbol_list)

The response code for SLV is 200
The response code for SIL is 200
The response code for GLD is 200
The response code for GDX is 200
The response code for DJI is 200

In [5]:
df.shape

(17854, 6)

In [10]:
df_etfs = full_clean()
df_etfs.describe()

               Open          High           Low         Close        Volume
count  17854.000000  17854.000000  17854.000000  17854.000000  1.785400e+04
mean    3900.357812   3922.957111   3876.727750   3901.030922  7.040316e+07
std     6738.853299   6773.657955   6702.194783   6739.960194  1.084200e+08
min        6.200000      6.320500      6.040000      6.130000  4.300000e+03
25%       21.970000     22.250000     21.718750     21.980000  4.352800e+06
50%       51.345000     51.875000     50.537000     51.330000  1.178775e+07
75%     9269.795175   9334.510250   9168.057400   9269.814925  1.014075e+08
max    27364.689500  27398.679700  27294.169900  27359.160200  2.190810e+09