In [1]:
%load_ext autoreload
%autoreload 2 
import pandas as pd
import numpy as np
import requests 
import matplotlib.pyplot as plt
import json

In [2]:
from data_compilation import call_api_one_symbol
from data_compilation import call_all_symbols

In [3]:
symbol_list = ['SLV', 'SIL', 'GLD', 'GDX', 'DJI']

In [28]:
df.tail()

               1. open     2. high      3. low    4. close  5. volume symbol
2000-01-07  11247.0596  11528.1396  11239.9199  11522.5596  184900000    DJI
2000-01-06  11113.3701  11313.4502  11098.4502  11253.2598  176550000    DJI
2000-01-05  10989.3701  11215.0996  10938.6699  11122.6504  203190000    DJI
2000-01-04  11349.7500  11350.0596  10986.4502  10997.9297  178420000    DJI
2000-01-03  11501.8496  11522.0098  11305.6904  11357.5098  169750000    DJI

In [21]:
df['symbol'].unique()

array(['SLV', 'SIL', 'GLD', 'GDX', 'DJI'], dtype=object)