In [10]:
%load_ext autoreload
%autoreload 2 
import pandas as pd
import numpy as np
import requests 
import matplotlib.pyplot as plt
import json

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
from data_compilation import call_api_one_symbol
from data_compilation import call_all_symbols

In [12]:
call_api_one_symbol('SLV')

The response code for SLV is 200

                open      high       low     close    volume symbol
2019-10-07   16.3800   16.4600   16.2800   16.3250   6203947    SLV
2019-10-04   16.3000   16.4600   16.2500   16.4100  17178596    SLV
2019-10-03   16.3800   16.6500   16.3700   16.4300  24412700    SLV
2019-10-02   16.3300   16.5400   16.2700   16.4300  21300800    SLV
2019-10-01   15.9600   16.2100   15.9100   16.1500  23278100    SLV
2019-09-30   16.0300   16.1000   15.8300   15.9200  29218300    SLV
2019-09-27   16.2600   16.4900   16.1900   16.3600  25234800    SLV
2019-09-26   16.7600   16.8900   16.6300   16.6700  20319100    SLV
2019-09-25   17.2900   17.3500   16.6700   16.7100  29406000    SLV
2019-09-24   17.2000   17.4600   17.0700   17.4400  27612500    SLV
2019-09-23   17.2900   17.5100   17.2600   17.5100  24136900    SLV
2019-09-20   16.6500   16.8000   16.6100   16.8000  14256300    SLV
2019-09-19   16.7200   16.7500   16.6100   16.6200  10522200    SLV
2019-09-18   16.7500   16.8400   16.3800   16.5500  28967300    SLV
2019-09-17   16.7300   16.9200   16.6600   16.8600  12763400    SLV
2019-09-16   16.7100   16.8400   16.6000   16.7400  21190000    SLV
2019-09-13   16.9000   16.9400   16.2800   16.3100  42317000    SLV
2019-09-12   16.9800   17.1100   16.8500   16.9200  29348700    SLV
2019-09-11   16.8000   16.9800   16.7900   16.9500  16979400    SLV
2019-09-10   16.9600   17.0100   16.8500   16.8500  22611900    SLV
2019-09-09   16.9300   17.0100   16.8000   16.8300  26030000    SLV
2019-09-06   17.4900   17.5900   16.8000   16.8700  68358100    SLV
2019-09-05   17.9800   17.9800   17.2900   17.4100  53305900    SLV
2019-09-04   18.0800   18.3500   18.0500   18.3400  34319900    SLV
2019-09-03   17.5900   17.9400   17.5200   17.8900  40436900    SLV
2019-08-30   17.0900   17.2600   17.0000   17.1500  28392700    SLV
2019-08-29   17.3600   17.4100   16.8800   17.0700  52495100    SLV
2019-08-28   17.1500   17.2500   17.0100   17.1700  30866900    SLV
2019-08-27   16.8400   17.0400   16.7700   17.0300  38834200    SLV
2019-08-26   16.5000   16.6300   16.4500   16.5200  22948400    SLV
...              ...       ...       ...       ...       ...    ...
2006-06-09  115.0000  115.5000  111.0300  111.9200   4204000    SLV
2006-06-08  116.8800  117.0000  111.3400  112.3500   6754000    SLV
2006-06-07  115.9500  120.4300  115.3000  118.7000   6712000    SLV
2006-06-06  118.6800  119.4800  116.8000  118.3500   6764000    SLV
2006-06-05  122.8000  123.8000  120.7600  120.9200   4317000    SLV
2006-06-02  121.9000  123.1100  120.0258  121.7500   3807000    SLV
2006-06-01  118.2500  122.5600  118.1000  120.4000   8007000    SLV
2006-05-31  130.6500  131.3000  123.6561  126.2800   6342000    SLV
2006-05-30  132.0000  133.6000  130.2800  130.9700   6204000    SLV
2006-05-26  127.6900  127.7700  124.9000  126.7000   3477000    SLV
2006-05-25  125.5500  127.9000  124.3900  126.8500   4998000    SLV
2006-05-24  126.9800  128.9500  124.2270  125.4500   5349000    SLV
2006-05-23  129.8500  132.5200  128.9000  130.4500   8188000    SLV
2006-05-22  123.9800  126.0000  122.5400  125.1500   5949000    SLV
2006-05-19  122.9100  126.8300  121.6800  126.0000   8460000    SLV
2006-05-18  132.2030  133.6500  126.0200  126.0200   8020000    SLV
2006-05-17  135.5500  137.4800  129.2100  130.9000   7821000    SLV
2006-05-16  135.1000  136.7500  132.7500  135.8000   7200000    SLV
2006-05-15  133.9400  137.8000  132.0400  132.7000  12581000    SLV
2006-05-12  148.9000  149.0000  142.1700  144.6400  10129000    SLV
2006-05-11  150.8200  152.5000  148.0000  148.6000  12533000    SLV
2006-05-10  142.9000  145.7500  142.5000  145.2600  13913000    SLV
2006-05-09  140.9868  146.2500  140.6000  145.0000  11054000    SLV
2006-05-08  138.0000  140.0000  135.0600  140.0000   9453000    SLV
2006-05-05  140.0000  140.3000  137.5000  139.9500   6586000    SLV
2006-05-04  139.5000  142.8700  136.8000  140.0000  11075000    SLV
2006-05-03  144.5000  144.6400  134.1300  139.2500  15141000    SLV
2006-05-02  142.4500  144.0000  141.0000  143.6500  12511000    SLV
2006-05-01  139.2000  141.7900  137.5000  138.7000  14835000    SLV
2006-04-28  129.0000  139.8000  128.7000  138.1200  23432000    SLV

[3384 rows x 6 columns]

In [4]:
symbol_list = ['SLV', 'SIL', 'GLD', 'GDX', 'DJI']

In [5]:
df = call_all_symbols(symbol_list)

The response code for SLV is 200
The response code for SIL is 200
The response code for GLD is 200
The response code for GDX is 200
The response code for DJI is 200

In [6]:
df.tail()

                  open        high         low       close     volume symbol
2000-01-07  11247.0596  11528.1396  11239.9199  11522.5596  184900000    DJI
2000-01-06  11113.3701  11313.4502  11098.4502  11253.2598  176550000    DJI
2000-01-05  10989.3701  11215.0996  10938.6699  11122.6504  203190000    DJI
2000-01-04  11349.7500  11350.0596  10986.4502  10997.9297  178420000    DJI
2000-01-03  11501.8496  11522.0098  11305.6904  11357.5098  169750000    DJI