In [34]:
# import requests library to make API calls 
import requests

# import pandas 
import pandas as pd

In [ ]:
def get_keys(path):
    with open(path) as f:
        return json.load(f)

keys = get_keys("/Users/alyssaliguori/secret/alpha_vantage_api.json")
api_key = keys['api_key']

In [35]:
# define a function to call Alpha Vantage API
def call_alphavantage(etf): 
    URL = 'https://www.alphavantage.co/query?'
    PARAMS = {'function': 'TIME_SERIES_DAILY', 
              'symbol': etf, 
              'apikey': api_key,
              'outputsize': 'full'
             }
    response = requests.get(URL, params=PARAMS)
    print('status code:', response.status_code)
    df = pd.DataFrame(response.json()['Time Series (Daily)'])
    return df

In [36]:
# define a function that renames columns after calling the API and formatting as a df 
def call_api_and_rename(etf):
    df = call_alphavantage(etf)        
    df = df.T
    df.columns = ['open_{}'.format(etf), 
                  'high_{}'.format(etf),
                  'low_{}'.format(etf),
                  'close_{}'.format(etf),
                  'volume_{}'.format(etf)] 
    return df

In [37]:
# call function and set resulting df equal to variable 
df_gld = call_api_and_rename('GLD') # gold bullion
df_gdx = call_api_and_rename('GDX') # gold mining
df_slv = call_api_and_rename('SLV') # silver bullion
df_sil = call_api_and_rename('SIL') # silver mining
df_index = call_api_and_rename('DJI') # Dow Jones Industrial Average

status code: 200

KeyError: 'Time Series (Daily)'

In [38]:
df_gld.shape, df_gdx.shape, df_slv.shape, df_sil.shape, df_index.shape

((3745, 5), (3367, 5), (3383, 5), (2383, 5), (4971, 5))

In [16]:
# join all five pandas dataframes together 
df_gld_gdx = df_gld.join(df_gdx, how='inner')
df_gld_gdx_slv = df_gld_gdx.join(df_slv, how='inner')
df_gld_gdx_slv_sil = df_gld_gdx_slv.join(df_sil, how='inner')
df_etfs = df_gld_gdx_slv_sil.join(df_index, how='inner')
len(df_etfs)

2383

In [18]:
# view records for combined df 
df_etfs.head()

,open_GLD,high_GLD,low_GLD,close_GLD,volume_GLD,open_GDX,high_GDX,low_GDX,close_GDX,volume_GDX,...,open_SIL,high_SIL,low_SIL,close_SIL,volume_SIL,open_DJI,high_DJI,low_DJI,close_DJI,volume_DJI
2019-10-04,141.4800,142.3100,141.1400,141.9000,9652594,27.1500,27.9100,27.1400,27.8700,48876566,...,28.2900,28.9123,28.1154,28.8700,157979,26271.6992,26590.7402,26271.6992,26573.7207,224487374
2019-10-03,141.3600,143.2500,141.2900,141.9000,12396100,27.4100,28.0500,27.2400,27.2500,63344000,...,28.3900,29.0000,28.3000,28.3100,177600,26039.0195,26205.1992,25743.4609,26201.0391,241610000
2019-10-02,140.7900,141.8800,140.4600,141.2600,11914300,27.4700,27.5000,27.0200,27.4100,65837200,...,28.5800,28.6000,28.1400,28.4100,160000,26425.8594,26438.0391,25974.1191,26078.6191,309640000
2019-10-01,138.0700,140.1900,137.8000,139.6300,12476200,26.6200,27.4700,26.5100,26.9200,68625600,...,27.9500,28.6400,27.8500,28.2200,160400,26962.5391,27046.2109,26562.2207,26573.0391,260110000
2019-09-30,139.7700,140.2100,138.0300,138.8700,15459100,26.9900,27.3500,26.5400,26.7100,73206900,...,28.5600,28.9000,27.9200,28.1100,357600,26852.3301,26998.8594,26852.3301,26916.8301,222680000

In [26]:
df_etfs.tail()
df_etfs.T.describe()

,2019-10-04,2019-10-03,2019-10-02,2019-10-01,2019-09-30,2019-09-27,2019-09-26,2019-09-25,2019-09-24,2019-09-23,...,2010-05-03,2010-04-30,2010-04-29,2010-04-28,2010-04-27,2010-04-26,2010-04-23,2010-04-22,2010-04-21,2010-04-20
count,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
unique,24,25,25,25,24,25,25,24,25,22,...,24,25,25,25,25,23,23,24,25,25
top,26271.6992,24412700,27.0200,139.6300,26852.3301,140.1600,16.6700,31.0300,26704.9609,17.5100,...,11009.5996,115.7000,49.6400,26891900,112.3400,15.8500,17.9100,47.3600,46.6993,7019800
freq,2,1,1,1,2,1,1,2,1,2,...,2,1,1,1,1,2,2,2,1,1